apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-server
  template:
    metadata:
      labels:
        app: api-server
    spec:
      containers:
        - name: api-server
          image: awel07/api-server
          envFrom:
            - configMapRef:
                name: my-config
          ports:
            - containerPort: 8080
