MONGO_URL =
GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =
GOOGLE_CALLBACK_URL =
SESSION_SECRET =
REDIS_URL =
# MONGO_URL =
CLIENT_URL1 =
CLIENT_URL2 =
REDIS_USERNAME =
REDIS_PASSWORD =
REDIS_HOST =
# redis://default:BL5lnk5dkmgfFcl5cl53fHCedBL52OnD@roundhouse.proxy.rlwy.net:52338
REDIS_PORT =
JWT_SECRET =
AZURE_ACCOUNT_NAME =
AZURE_ACCOUNT_KEY =
AZURE_STORAGE_CONNECTION_STRING =
SENTRY_AUTH_TOKEN=
SENTRY_DSN = https://5c55616b6c21408abcb2c32fd3eace7d@o1309936.ingest.sentry.io/6556662
RABBITMQ_URL =