name: Deploy Docker image to Azure VM

on:
  workflow_run:
    workflows: ["Publish Video-Conversion Docker Image"]
    types:
      - completed

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Stop the old container
        run: docker stop video-conversion-server || true

      - name: Delete the old container
        run: docker rm video-conversion-server || true

      - name: Delete the old image
        run: docker rmi ${{secrets.DOCKERHUB_USERNAME}}/video-conversion-server:latest || true

      - name: Pull the image from dockerhub
        run: docker pull ${{secrets.DOCKERHUB_USERNAME}}/video-conversion-server:latest

      - name: Run the image
        run: docker compose up -d
